# Home Assistant
homeassistant>=2024.3
home-assistant-frontend

# Integration
pyUnfoldedCircleRemote~=0.6.1

# Development
black
colorlog==6.7.0
pip>=24.0
pylint>=3.0.3
ruff==0.0.255
rel~=0.4.9.6
requests~=2.31.0
voluptuous~=0.13.1
aiohttp~=3.9.3
zeroconf~=0.131.0
websockets~=12.0
pyUnfoldedCircleRemote~=0.6.1
ha-ffmpeg
